/* Estilo de mi página Web

Autor : Jeramy Bósquez Domínguez

Centro : IES Campanillas

Fecha: 10/02/2022

*/

/******************estilo nav*****************/
#logo {width:45px;}
/*me invento los nombres*/

.bg-vanilla{background-color: rgb(242, 243, 243);}

.uppercase{text-transform:uppercase;}

#pagina {
    border: 40px solid #48727c;
    min-height: 100%;
   }
/********************introduccion************/
#introduction > img {padding-top: 40px;}


.container-fluid {
background-color: #677C90;
padding: 60px;
}

.container-fluid{text-align: center;
padding-bottom: 20px;}

#cuadros{background-color: #677C90;}


#introduction2 {
    background-color: #677C90;
    padding: 60px;
    }


#introduction2 h1{text-align: center;
    padding-bottom: 20px;
color: white;
}

    #introduction2 p{color: rgb(0, 0, 0);
    background-color: #677C90;
    border-top:10px white;}





/************cuadros con imagen************/

#historia {background-color:rgb(43, 59, 148) ;
      color: white;
      text-align: center;}
      
.card-body3{padding: 50px;}

#recuadros{text-align: center;
    color: rgb(255, 255, 255);
}

#recuadros {background-color:rgb(43, 59, 148) ;
    color: white;
}

#proyecto1 {background-color:rgb(43, 59, 148) ;
    color: white;
text-align: center;}

#proyectos {background-color:rgb(43, 59, 148) ;
        text-align: center;
    color: white;}


.card3{background-color: rgb(43, 59, 148);}




#ima {width:20%; 
        float:right;
        margin:20px}
#imagen3{width: 40%;}


footer{background-color: #677C90;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    }
    i { margin-right: 10px;
    }
    #final{font-family: disney;
          }


        @media only screen and (max-width:800px){
            #ima {width:100%;
            padding-left: 50px;}
            #introduction p{padding-left: 25px;}
            #video {width: 300px;;}
      }












































